@model Snack_Shack.Models.Person

@{
    ViewData["Title"] = "_CustomerView";
}





<div class="row">
    <div class="col-lg-4">
        <div class="card-deck text-center" style="width: 20rem;">
            <a asp-action="EditDetails" asp-route-id=""
               class="btn bnt-default card-img-top ">
                <img src="" height=300 width=300 alt="ImageURL" style="border-radius: 10%" />
            </a>
            <div class="card-body text-center">
                <h5 class="card-title text-center">/ </h5>
                <br />
                <a asp-controller="Food" asp-action="Details"
                   class="btn btn-success text-center" style="background-color: #FF5757; border:none;">
                    Edit Details
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-deck text-center" style="width: 20rem;">
            <a asp-action="EditDetails" asp-route-id=""
               class="btn bnt-default card-img-top ">
                <img src="" height=300 width=300 alt="ImageURL" style="border-radius: 10%" />
            </a>
            <div class="card-body text-center">
                <h5 class="card-title text-center">/ </h5>
                <br />
                <a asp-controller="Food" asp-action="Details"
                   class="btn btn-success text-center" style="background-color: #FF5757; border:none;">
                    Order History
                </a>
            </div>
        </div>
    </div>
    </div>




    @*<div>
            <a asp-action="../People/Edit" asp-route-id="@Model">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@

