@model Snack_Shack.Models.Person

@{
    ViewData["Title"] = "_CustomerView";
}


    @*<div>
            <a asp-action="../People/Edit" asp-route-id="@Model">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@

