@model IEnumerable<Snack_Shack.Models.Food>
@using Snack_Shack.Models
@using Snack_Shack.Data

@{
    int columnNo = 0;
}

<style>
    body {
        background-color: #FFE8E8;
    }
</style>

<div class="container">
    <div class="row text-center">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="Food">All</a>
                <a asp-controller="Home" asp-action="Food"></a>

                <a class="dropdown-item" href="Starters">Starters</a>
                <a asp-controller="Home" asp-action="Starters"></a>

                <a class="dropdown-item" href="Mains">Mains</a>
                <a asp-controller="Home" asp-action="Mains"></a>

                <a class="dropdown-item" href="Desserts">Desserts</a>
                <a asp-controller="Home" asp-action="Desserts"></a>

                <a class="dropdown-item" href="Sides">Sides</a>
                <a asp-controller="Home" asp-action="Sides"></a>
            </div>
        </div>
    </div>
</div>

<br />
<br />


<section>
    <div class="row">
        @foreach (var item in Model)
        {
            if (columnNo > 0 && columnNo % 3 == 0)
            {
            @:</div><div class="row">
            }
            <div class="col-lg-4">
                <div class="card-deck text-center" style="width: 20rem;">
                    <a asp-action="FoodDetails" asp-route-id="@item.FoodID"
                       class="btn bnt-default card-img-top ">
                        <img src="/images/@item.Product.ImageURL" height=300 width=300 alt="ImageURL" style="border-radius: 10%" />
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@item.Product.Name / £@item.Product.ProductPrice.ToString("0.00")</h5>
                        <br />
                        <a asp-controller="Food" asp-action="Details"
                           class="btn btn-success text-center" style="background-color: #FF5757; border:none;">
                            Add to Order
                        </a>
                    </div>
                </div>
            </div>
            columnNo++;
        }
    </div>
</section>