@{
    ViewData["Title"] = "";
}

<head>

    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS and customised CSS -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <style>
        body {
            background-color: #FFE8E8;
        }
    </style>

    <!-- Form -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="col-6 offset-3">

                        <!-- Gmail form -->
                        <form class="gform pure-form pure-form-stacked" method="POST" data-email="izzymthorpe@gmail.com"
                              action="https://script.google.com/macros/s/AKfycbxoktY48K9Vqy3A7HBqRdVfw1VVJn_qofIWlKMG/exec">

                            <!-- Name, Message and Email -->
                            <div class="form-elements">
                                <fieldset class="pure-group">
                                    <h2>Contact Us</h2>
                                    <label for="Enquiry" class="formtext">

                                        <br>
                                        For any bookings or general enquries -<br>
                                        Please use the Contact Form
                                        below:
                                    </label>
                                </fieldset>
                                <br>

                                <!--<div class="form-elements">-->
                                <fieldset class="pure-group">
                                    <label for="name" class="formtext">Name:</label>
                                    <input id="name" name="name" class="commentbox" placeholder="" />
                                </fieldset>

                                <fieldset class="pure-group">
                                    <label for="message" class="formtext">Message: </label>
                                    <textarea class="commentbox" id="message" name="message" rows="4" placeholder=""></textarea>
                                </fieldset>

                                <fieldset class="pure-group">
                                    <label for="email" class="formtext"><em>Your </em> Email Address:</label>
                                    <input id="email" name="email" type="email" value="" class="commentbox" required
                                           placeholder="your.name@email.com" />
                                </fieldset>

                                <!-- Send button -->
                                <button class="button-success pure-button button-xlarge">
                                    <i class="fa fa-paper-plane"></i>&nbsp;Send
                                </button>
                            </div>

                            <br>
                            <br>
                            <br>

                            <!-- Thank you message -->
                            <!-- Thank you message -->
                            <div style="display:none" class="thankyou_message">
                                <h2>
                                    Thanks for getting in touch
                                </h2>

                            </div>
                        </form>

                        <!-- Date underneath form - only shows when form submitted -->
                        @*<script>
                            var currentDate = new Date(),
                                day = currentDate.getDate(),
                                month = currentDate.getMonth() + 1,
                                year = currentDate.getFullYear();
                            document.write(day + "/" + month + "/" + year)</script>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-cfasync="false" type="text/javascript" src="form-submission-handler.js"></script>
    <br>
</body>

<style>
    /* Send button */
    .button-success {
        font-family: 'Quicksand', sans-serif;
        color: #FFE8E8;
        background-color: #FF5757;
    }
</style>

<script>
    (function () {
        // get all data in form and return object
        function getFormData(form) {
            var elements = form.elements;
            var honeypot;

            var fields = Object.keys(elements).filter(function (k) {
                if (elements[k].name === "honeypot") {
                    honeypot = elements[k].value;
                    return false;
                }
                return true;
            }).map(function (k) {
                if (elements[k].name !== undefined) {
                    return elements[k].name;
                    // special case for Edge's html collection
                } else if (elements[k].length > 0) {
                    return elements[k].item(0).name;
                }
            }).filter(function (item, pos, self) {
                return self.indexOf(item) == pos && item;
            });

            var formData = {};
            fields.forEach(function (name) {
                var element = elements[name];

                // singular form elements just have one value
                formData[name] = element.value;

                // when our element has multiple items, get their values
                if (element.length) {
                    var data = [];
                    for (var i = 0; i < element.length; i++) {
                        var item = element.item(i);
                        if (item.checked || item.selected) {
                            data.push(item.value);
                        }
                    }
                    formData[name] = data.join(', ');
                }
            });

            // add form-specific values into the data
            formData.formDataNameOrder = JSON.stringify(fields);
            formData.formGoogleSheetName = form.dataset.sheet || "responses"; // default sheet name
            formData.formGoogleSendEmail
                = form.dataset.email || ""; // no email by default

            return { data: formData, honeypot: honeypot };
        }

        function handleFormSubmit(event) {  // handles form submit without any jquery
            event.preventDefault();           // we are submitting via xhr below
            var form = event.target;
            var formData = getFormData(form);
            var data = formData.data;

            // If a honeypot field is filled, assume it was done so by a spam bot.
            if (formData.honeypot) {
                return false;
            }

            disableAllButtons(form);
            var url = form.action;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            // xhr.withCredentials = true;
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    form.reset();
                    var formElements = form.querySelector(".form-elements")
                    if (formElements) {
                        formElements.style.display = "none"; // hide form
                    }
                    var thankYouMessage = form.querySelector(".thankyou_message");
                    if (thankYouMessage) {
                        thankYouMessage.style.display = "block";
                    }
                }
            };
            // url encode form data for sending as post data
            var encoded = Object.keys(data).map(function (k) {
                return encodeURIComponent(k) + "=" + encodeURIComponent(data[k]);
            }).join('&');
            xhr.send(encoded);
        }

        function loaded() {
            // bind to the submit event of our form
            var forms = document.querySelectorAll("form.gform");
            for (var i = 0; i < forms.length; i++) {
                forms[i].addEventListener("submit", handleFormSubmit, false);
            }
        };
        document.addEventListener("DOMContentLoaded", loaded, false);

        function disableAllButtons(form) {
            var buttons = form.querySelectorAll("button");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disabled = true;
            }
        }
    })();

</script>
