@model Snack_Shack.Models.Drink

@{
    ViewData["Title"] = "DrinksDetails";
    string filter = (string)ViewData["Drink"];
}

<style>
    body {
        background-color: #FFE8E8;
    }
</style>

<br />
<div class="container page-hero d-flex align-items-center justify-content-center card border-0" style="background-color: #FFE8E8; border: none;" >
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center" style="background-color: #FFE8E8; border: none; width: 40rem;">
                <card-img-top>
                    <img src="/images/@Model.Product.ImageURL" height=300 width=300 alt="ImageURL"  style="border-radius: 10%"  />
                    <div class="card-body"  style="background-color: #FFE8E8; border: none;">
                        <h3 class="card-title page-hero d-flex align-items-center justify-content-center">@Html.DisplayFor(model => model.Product.Name)</h3>
                        <p class="card-text page-hero d-flex align-items-center justify-content-center">@Html.DisplayFor(model => model.Product.Description)</p>
                    </div>
                    <ul class="list-group list-group-flush page-hero d-flex align-items-center justify-content-center">
                        <li class="list-group-item" style="background-color: #FFE8E8; border-color: #FF5757; ">Brand: @Html.DisplayFor(model => model.DrinkBrand)</li>
                        <li class="list-group-item" style="background-color: #FFE8E8; border-color: #FF5757; ">ABV: @Html.DisplayFor(model => model.AlcoholPercentage)%</li>
                    </ul>
            </div>
        </div>
    </div>
</div>


