@model IEnumerable<Snack_Shack.Models.Drink>
@using Snack_Shack.Models
@using Snack_Shack.Data


@{
    ViewData["Title"] = "DrinkMenu";

    string filter = (string)ViewData["Drinks"];
}

<header class="jumbotron text-center">
    <h1>Drinks Menu</h1>
</header>


<partial name="_DrinksView" model="@Model" />
