@model IEnumerable<Snack_Shack.Models.Food>
@using Snack_Shack.Models
@using Snack_Shack.Data


@{
    ViewData["Title"] = "FoodMenu";
    //int columnNo = 0;

    string filter = (string)ViewData["Food"];
}

<header class="jumbotron text-center">
    <h1>Food Menu</h1>
</header>



<partial name="_FoodView" model="@Model"/>




