@model IEnumerable<Snack_Shack.Models.Food>
@using Snack_Shack.Models
@using Snack_Shack.Data


@{
    ViewData["Title"] = "FoodMenu";

    string filter = (string)ViewData["Food"];
}

<br />
<header>
    <h1>Food Menu</h1>
</header>
<br />

<partial name="_FoodView" model="@Model"/>




