@model IEnumerable<Snack_Shack.Models.Food>
@using Snack_Shack.Models
@using Snack_Shack.Data


@{
    ViewData["Title"] = "FoodMenu";
    int columnNo = 0;

    string filter = (string)ViewData["Food"];
}

<header class="jumbotron">
    <h1>Food Menu</h1>
</header>

<section>
    <div class="row">
        @foreach (var item in Model)
        {
            if (columnNo > 0 && columnNo % 3 == 0)
            {
            @:</div><div class="row">
            }

            <div class="col-lg-4">
                <div class="card-deck" style="width: 18rem;">

                    <a asp-action="FoodDetails" asp-route-id="@item.FoodID"
                       class="btn bnt-default card-img-top">
                        <img src="/images/@item.Product.ImageURL" height=250 width=250 alt="ImageURL" />
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">@item.Product.Name</h5>

                        <p id="product-summary" class="font-weight-bolder">
                            £@item.Product.ProductPrice.ToString("0.00") |

                            <a asp-controller="Food" asp-action="Details"
                               class="btn btn-success">
                                Add to Order
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            columnNo++;
        }
    </div>
</section>




