@model IEnumerable<Snack_Shack.Models.Drink>

@{
    ViewData["Title"] = "HotDrinks";
}


<header class="jumbotron text-center">
    <h1>Hot Drinks</h1>
</header>


<partial name="_DrinksView" model="@Model" />