@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #FF5757;
    }
</style>

<br />


<div class="container">
    <div class="row">
        <div class="offset-3 col-6">
            <div class="container text-center">
                <img class="d-block w-100" src="~/images/Logo.png" alt="Snack Shack Logo">
            </div>
        </div>
    </div>
</div>

