@model Snack_Shack.Models.Person

@{
    ViewData["Title"] = "MyAccount";
}

@if (Model == null)
{
    <p>
        Your account does not yet exist. Please click on the link below to create your account.
    </p>
    @*<div>
        <a asp-area="Identity\Pages\Account" asp-action="Register">Create Account</a> |
    </div>*@
}
else
{
    <partial name="../People/_PeopleView" model="@Model" />

    <div>
        <a class="btn btn-success text-center" style="background-color: #FF5757; border:none;" asp-controller="People" asp-action="Edit" asp-route-id="@Model.PersonID">Edit</a>
    </div>
}
