@model IEnumerable<Snack_Shack.Models.Drink>

@{
    ViewData["Title"] = "SoftDrinks";
}

<h1>SoftDrinks</h1>

<header class="jumbotron text-center">
    <h1>Soft Drinks</h1>
</header>


<partial name="_DrinksView" model="@Model" />