@model IEnumerable<Snack_Shack.Models.Drink>

@{
    ViewData["Title"] = "Spirits";
}

<h1>Spirits</h1>

<header class="jumbotron text-center">
    <h1>Spirits</h1>
</header>


<partial name="_DrinksView" model="@Model" />