/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Roboto:wght@100&family=Rubik+Mono+One&family=Rubik:wght@300&family=Titillium+Web:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100&family=Rubik+Mono+One&family=Rubik:wght@300&family=Titillium+Web:wght@200&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    white-space:normal;
    border: none;
    /*white-space: nowrap;*/
    line-height: 40px; /* Vertically center the text there */
}


/*Styles cards for products*/
p#product-summary 
{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


h2 {
    color: #FF5757;
    font-size: 350%;
    background-color: #FFE8E8;
    font-family: 'Rubik Mono One';
}

h3 {
    font-size: 200%;
    font-family: 'Rubik Mono One';
}

h5 {
    font-size: 100%;
    font-family: 'Rubik Mono One';
}

h7{
    font-size: 150%;
    font-family: 'Rubik Mono One';
}

h8 {
    color: #FFE8E8;
    font-size: 300%;
    font-family: 'Rubik Mono One';
}

h9 {
    font-size: 280%;
    color: #FFE8E8;
    font-family: 'Rubik Mono One';
}
h10 {
    font-size: 130%;
    color: #FFE8E8;
    font-family: 'Rubik Mono One';
}




.img {
    border-radius: 10%;
}




/* Contact */
/* Contact page form */
.commentbox {
    width: 100%;
    align-content: center;
}

/* Contact paragraph */
.contactparagraph {
    font-family: 'Quicksand', sans-serif;
}

/* Contact head */
.content-head {
    font-family: 'Quicksand', sans-serif;
}

/* Thank you message */
.thankyou_message {
    font-family: 'Quicksand', sans-serif;
}

/* The text above the comment box's */
.formtext {
    font-family: 'Quicksand', sans-serif;
}

/* The text inside the comment box's */
.commentbox {
    font-family: 'Quicksand', sans-serif;
}

/* Send button */
.button-success {
    font-family: 'Quicksand', sans-serif;
    color: #FFE8E8;
    background-color: #FF5757;
}

